<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PPC Rental</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto:300,400,500">
    <link href="~/Content/Home/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Home/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Home/animate.css" rel="stylesheet" />
    <link href="~/Content/Home/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>

    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo_link" href="" title="PPC Rental">
                    <img src="~/Images/IIcon.png" alt="PPC Rental" style="width:85px" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-navbar-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">News</a></li>
                    @*<li><a href="#">Property</a></li>
                    <li><a href="#">Agency</a></li>*@
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li>@Html.ActionLink("DashBoard", "Dashboard","Account")</li>
                    <li><a id="btnLogin" href="~/Account/Login">Login</a></li>
                    <li><a href="~/Account/RegisterAccount">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--content -->
        <div>
            @RenderBody()
        </div>
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 footer-copyright">
                            &copy; @DateTime.Now.Year - Design by K21T3 - Team 3 - Lazy
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Javascript -->
            <script src="~/Scripts/jquery-1.11.1.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.backstretch.min.js"></script>
            <script src="~/Scripts/wow.min.js"></script>
            <script src="~/Scripts/retina-1.1.0.min.js"></script>
            <script src="~/Scripts/waypoints.min.js"></script>
            <script src="~/Scripts/wow.min.js"></script>

            @*[if lt IE 10]>
               <script src="~/Scripts/retina-1.1.0.min.js"></script>
            <![endif]*@
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)




</body>
</html>
