@model Website_BĐS.Models.USER

@{
    ViewBag.Title = "RegisterAccount";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="~/Content/style.css" rel="stylesheet" />
     m
</head>
<body>
            <div class="wrapper">
                <div class="container" style="margin-top:3%">
                    <h1>Create your Account</h1>
                    <form action="~/Account/RegisterAccount" method="post" class="Register">
                        @*<input type="text" name="Email" placeholder="Username" required />*@
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email)
                        @*<input type="password" name="Password" placeholder="Password" required />*@
                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password)
                        @*<input type="password" name="Confirmpassword" placeholder="Confirm Password" required />*@
                        @Html.PasswordFor(model => model.Confirmpassword, new { placeholder = "Confirm password" })
                        @Html.ValidationMessageFor(model => model.Confirmpassword)
                        @*<input type="text" name="FullName" placeholder="Full Name" required />*@
                        @Html.TextBoxFor(model => model.FullName, new { placeholder = "Full Name" })
                        @Html.ValidationMessageFor(model => model.FullName)
                        @*<input type="number" name="Phone" placeholder="Phone" required />*@
                        @Html.TextBoxFor(model => model.Phone, new { placeholder = "Phone" })
                        @Html.ValidationMessageFor(model => model.Phone)
                        @*<input type="text" name="Address" placeholder="Address" required />*@
                        @Html.TextBoxFor(model => model.Address, new { placeholder = "Address"})
                        @Html.ValidationMessageFor(model => model.Address)
                        <button type="submit" class="submit" id="btnRegister">Register</button>
                        <p>
                            <a href="~/Home/Index" style="margin-left:28%"> Home</a>
                            <a href="~/Account/Login" style="margin-left:2%">Login</a>
                        </p>
                    </form>
                </div>

                <ul class="bg-bubbles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
</body>
</html>


