@model Website_BĐS.Models.PROPERTY_TYPE
@{
    ViewBag.Title = "EditPropetyType";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Propety Type</h2>

@using (Html.BeginForm("EditPropertyType", "Admin"))
    {
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.CodeType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CodeType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CodeType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            <div class="checkbox">
                @*@if (model.Status == true)
                {
                    ViewBag.Status = "Kích Hoạt";
                }
                else
                {
                    ViewBag.Status = "Chưa Kích Hoạt";
                }*@
                @*@Html.Editor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(Model => Model.Status, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cancel" class="btn btn-default" />
        </div>
    </div>
</div>
}

