@using Website_BĐS.Models;
@model Website_BĐS.Models.PROPERTY

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
    Team33Entities db = new Team33Entities();
    var Phuongs = new SelectList(db.WARDs.Take(0), "ID", "WardName");
    var Quans = new SelectList(db.DISTRICTs, "ID", "DistrictName");
    var Duongs = new SelectList(db.STREETs.Take(0), "ID", "StreetName");
}

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PROPERTY</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="form-group">
            @Html.LabelFor(model => model.PropertyName, new { @class = "control-label col-md-2" })
            <div class="col-md-4" id=" propertyname">
                @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.PropertyName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="file" name="AvatarFile" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="file" name="MultiImage" multiple>

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PropertyType_ID, "PropertyType", new { @class = "control-label col-md-2" })
            <div class="col-md-4" id=" propertyType">
                @Html.DropDownList("PropertyType_ID", new SelectList(ViewBag.ptype, "ID", "CodeType", Model.PROPERTY_TYPE), new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.PropertyType_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id=" content">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @row = 5, @style = "width:500px; height:200px", required = "required" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.District_ID, "District", new { @class = "control-label col-md-2" })
            <div class="col-md-4" id=" district">
                @Html.DropDownList("District_ID", new SelectList(ViewBag.district, "ID", "DistrictName", Model.DISTRICT), new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.District_ID)

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ward_ID, "Ward", new { @class = "control-label col-md-2" })
            <div class="col-md-4" id=" ward">
                @Html.DropDownList("Ward_ID", new SelectList(ViewBag.ward, "ID", "WardName", Model.WARD), new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Ward_ID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Street_ID, "Street", new { @class = "control-label col-md-2" })
            <div class="col-md-4" id=" street">
                @Html.DropDownList("Street_ID", new SelectList(ViewBag.street, "ID", "StreetName", Model.STREET), new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Street_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-4" id=" price">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @type = "number", required = "required" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Area, new { @class = "form-control", @type = "number", required = "required" }) 
                @Html.ValidationMessageFor(model => model.Area)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BedRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BedRoom, new { @class = "form-control", @type = "number", required = "required" })
                @Html.ValidationMessageFor(model => model.BedRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BathRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BathRoom, new { @class = "form-control", @type = "number", required = "required" })
                @Html.ValidationMessageFor(model => model.BathRoom)
            </div>
           
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PackingPlace, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PackingPlace, new { @class = "form-control", @type = "number", required = "required" })
                @Html.ValidationMessageFor(model => model.PackingPlace)
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.UserID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserID)
                    @Html.ValidationMessageFor(model => model.UserID)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Status_ID, "Status", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("Status_ID", new SelectList(ViewBag.status, "ID", "Status_Name", Model.PROJECT_STATUS), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status_ID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-left:70%; margin-bottom:3%; width:15%" />
            </div>
        </div>

       
    </div>

}


@section Scripts{
    <link href="~/Content/Admin.css/Select2.min.css" rel="stylesheet" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        var data = {
            id: null,
            text: 'Chọn đường...'
        };
        var newOption = new Option(data.text, data.id, false, true);
        var data1 = {
            id: null,
            text: 'Chọn phường...'
        };
        var newOption1 = new Option(data1.text, data1.id, false, true);

        $('#Protyp').select2();
        $('#District_ID').select2();
        $('#Ward_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('/Admin/GetStreet?did=' + $('#District_ID').val(), function (json) {
                $('#Street_ID').select2({ data: json }).append(newOption);
            });
            $('#Ward_ID').empty();
            $.getJSON('/Admin/GetWard?did=' + $('#District_ID').val(), function (json) {
                $('#Ward_ID').select2({ data: json }).append(newOption1);
            });
        });

    </script>
    }
