@model IEnumerable<Website_BĐS.Models.PROPERTY>
@{
    ViewBag.Title = "Home Page";
}

<div id="carousel-example" class="carousel slide" data-ride="carousel" style="height:620px">

    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="height: 620px; margin-top:-10px">
        <div class="item active">
            <img src="~/Images/IMG_1592-stamp.jpg" style="width:100%" />

        </div>
        <div class="item">
            <img src="~/Images/PIS_6656-Edit-stamp.jpg" style="width:100%" />
        </div>

    </div>

    <!-- Controls -->

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!-------------------------------------FILTER------------------------------------->
<!-------------------------------------FILTER------------------------------------->

<div class="mh-search-horizontal wow rotateIn"  style=" margin-top: -180px; width:90%; height:250px">
    <h5 class="mh-search__label" style="margin-top:-15px; margin-bottom :-15px; color:#00b9ff; font-size: 20px"></h5>
    <hr style=" border:1px solid; color:#00b9ff" />
    <div class="filter">
        <div class="filter-form">
            <form id="advanced_search" role="search" action="@Url.Action("Search","Home")" name="search" method="get">

                <div class="col-xs-2 ">
                    <label>Loại dự án</label>
                    <div class="show-menu-arrow selectpicker">
                        @Html.DropDownList("loaiDA", (IEnumerable<SelectListItem>)ViewData["LoaiDA"], "--Chọn loại dự án--", new { @class = "shape" })
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="show-menu-arrow selectpicker">
                        <label>Quận</label>
                        @Html.DropDownList("quan", (IEnumerable<SelectListItem>)ViewData["Quan"], "--Chọn tên quận--", new { @class = "shape" })
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="show-menu-arrow selectpicker">
                        <label>Phường</label>
                        @Html.DropDownList("phuong", (IEnumerable<SelectListItem>)ViewData["Phuong"], "--Chọn tên phường--", new { @class = "shape" })
                    </div>
                </div>
                <div class="col-xs-2 ">
                    <label>Đường</label>
                    <div class="show-menu-arrow selectpicker">
                        @Html.DropDownList("duong", (IEnumerable<SelectListItem>)ViewData["Duong"], "--Chọn tên đường--", new { @class = "shape" })
                    </div>
                </div>
                <div class="col-xs-2 ">
                    <label>Phòng ngủ</label>
                    <div class="show-menu-arrow selectpicker">
                        <select name="pNgu">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <!--bath filter-->
                <div class="col-xs-2 ">
                    <label>Phòng tắm</label>
                    <div class="show-menu-arrow selectpicker">
                        <select name="pTam">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <!--price filter-->
                
                <div class="col-xs-4 ">
                   
                
                </div>
                    <div class="col-xs-2 ">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary-ghost mdl-button--clear" data-upgraded=",MaterialButton,MaterialRipple" style="position: relative; top: 30px; left:47%">
                            Tìm
                        </button>
                    </div>
                
            </form>

        </div>

    </div>
    @*end filter form*@
</div>
<p style="font-size: 30px; color: #0096ff; text-align: center; margin-top: 20px; margin-bottom: 20px;">DỰ ÁN</p>
<hr style="border: solid; color: #0096ff; margin-top: -20px; width: 100px">
    />
<div class="container body-content">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style=" margin-bottom: 20px;">
                    <img src="~/Images/@item.Avatar" alt="@item.PropertyName" />
                    <div class="caption">
                        <h3 style="color: #0096ff; font-size: 18px; margin-top: -1px">
                            @{
                                if (@item.PropertyName.Length >= 28 && !String.IsNullOrEmpty(@item.PropertyName) && !String.IsNullOrWhiteSpace(@item.PropertyName))
                                    {<span>@item.PropertyName.Substring(0, 20)...</span> }
                               
                                else
                                 { @item.PropertyName}
                            }
                        </h3>
                        <p>
                           @{
                                if (@item.Content.Length >= 65 )
                                    {<span style="font-size:12px">@item.Content.Substring(0, 65)...</span>}
                               
                                else
                                 {@item.Content}
                            }
                           
                        </p>
                        <p style="font-size:12px"><img src="~/Images/location-icon.png" style="width:20px; height:20px" /> @item.STREET.StreetName,@item.WARD.WardName,@item.DISTRICT.DistrictName</p>
                        <p style="font-size: 15px; color: #0096ff">$ @item.Price</p>
                        <p>
                            <span style="margin-right:10px"><img src="~/Images/area-icon.png" style="width:20px; height:20px" /> </span>@item.Area
                            <span style="margin-left:20px; margin-right:10px"><img src="~/Images/bedroom-icon.png" style="width:20px; height:20px" /> </span>@item.BedRoom
                            <span style="margin-left:30px; margin-right:10px"><img src="~/Images/bathroom-icon.png" style="width:20px; height:20px" /> </span>@item.BathRoom
                        </p>
                        <div class="mh-search__buttons" style="position: relative;top: 32px;">
                            <a href="~/Project/Details/@item.ID">
                                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary-ghost mdl-button--clear" data-upgraded=",MaterialButton,MaterialRipple" type="button" value="Chi tiết">
                            </a>
                        </div>
                    </div>
                </div>
    </div>
        }
</div>
</div>
<script>
 $(function() {
    $('#slider-container').slider({
        range: true,
        min: 299,
        max: 1099,
        values: [299, 1099],
        slide: function(event, ui) {
            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            var mi = ui.values[ 0 ];
            var mx = ui.values[ 1 ];
            filterSystem(mi, mx);
        }
    });
  $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
  " - $" + $( "#slider-range" ).slider( "values", 1 ) );
});

function filterSystem(minPrice, maxPrice) {
$("#computers div.system").hide().filter(function() {
    var price = parseInt($(this).data("price"), 10);
    return price >= minPrice && price <= maxPrice;
}).show();
}
    </script>
<style>
    .thumbnail {
        display: inline-block;
        display: block;
        height: 480px;
        max-width: 100%;
        padding: 4px;
        line-height: 1.428571429;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        margin-bottom: 20px;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #0096ff;
        background-color: #e7e7e7;
    }
</style>
