
@model Website_BĐS.Models.PROPERTY
@using Website_BĐS.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Agency/Views/Shared/_AgencyLayout.cshtml";
    Team33Entities db = new Team33Entities();
    var Phuongs = new SelectList(db.WARDs.Take(0), "ID", "WardName");
    var Quans = new SelectList(db.DISTRICTs, "ID", "DistrictName");
    var Duongs = new SelectList(db.STREETs.Take(0), "ID", "StreetName");
}

<h2>Create Property</h2>

@using (Html.BeginForm("Create", "Agency", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control" })
                <a>
                    @Html.ValidationMessageFor(model => model.PropertyName)
                </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div>
                    <input type="file" name="AvatarFile" />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div>
                    <input type="file" name="files" multiple />
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PropertyType_ID, "Property Type", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("PropertyType_ID", new SelectList(ViewBag.ptype, "ID", "CodeType"), new { @class = "form-control" })
             <a>
                 @Html.ValidationMessageFor(model => model.PropertyType_ID)
             </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "required", @cols = 40, @rows = 10, @style = "width:500px; height:200px" })
               <a>
                   <P>
                       @Html.ValidationMessageFor(model => model.Content)
                   </P>
               </a>
            </div>
        </div>
        @*<div class="form-group">
            @Html.Label("Feature", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.ListBox("listFeature", new SelectList(ViewBag.Feature_ID, "ID", "FeatureName"), new { @class = "form-control", @multiple = "true" })
            </div>
        </div>*@
        <div class="form-group">
            @Html.Label("Feature", new { @class = "control-label col-md-2" })
            <div class="col-md-7">
                @foreach (var f in db.FEATUREs)
                {
                    @Html.CheckBox("Feature_" +f.ID, false) <span>@f.FeatureName</span>   
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.District_ID, "District", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("District_ID", Quans, "Chọn quận...", new { @class = "form-control"})
              <a>
                  @Html.ValidationMessageFor(model => model.District_ID)
              </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ward_ID, "Ward", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("Ward_ID", Phuongs, "Chọn phường...", new { @class = "form-control", @style = "width:333px" })
               <a>
                   @Html.ValidationMessageFor(model => model.Ward_ID)
               </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street_ID, "Street", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("Street_ID", Duongs, "Chọn đường...", new { @class = "form-control", @style = "width:333px" })
            <a>
                @Html.ValidationMessageFor(model => model.Street_ID)
            </a>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" }) 
            <label style="padding-top:1%">Vnd</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @type = "number" })
              <a>
                  @Html.ValidationMessageFor(model => model.Price)
              </a>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <label style="padding-top:1%">m2</label>

            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Area, new { @class = "form-control", @type = "number" })
             <a>
                 @Html.ValidationMessageFor(model => model.Area)
             </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BedRoom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BedRoom, new { @class = "form-control", @type = "number" })
          <a>
              @Html.ValidationMessageFor(model => model.BedRoom)
          </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BathRoom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.BathRoom, new { @class = "form-control", @type = "number" })
              <a>
                  @Html.ValidationMessageFor(model => model.BathRoom)
                </a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PackingPlace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PackingPlace, new { @class = "form-control", @type = "number" })
      <a>
          @Html.ValidationMessageFor(model => model.PackingPlace)
      </a>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-6">
                </div>
                <div class="col-md-2">
                    <input name="submit" type="submit" value="Post" class="btn btn-primary" style=" margin-bottom:3%; width:100%" />
                </div>
                <div class="col-md-4">
                    <input name="submit" type="submit" value="Draf" class="btn btn-primary" style=" margin-bottom:3%; width:45%" />
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{
    <link href="~/Content/Admin.css/Select2.min.css" rel="stylesheet" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        var data = {
            id: null,
            text: 'Chọn đường...'
        };
        var newOption = new Option(data.text, data.id, false, true);
        var data1 = {
            id: null,
            text: 'Chọn phường...'
        };
        var newOption1 = new Option(data1.text, data1.id, false, true);

        $('#Protyp').select2();
        $('#District_ID').select2();
        $('#Ward_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('/Admin/GetStreet?did=' + $('#District_ID').val(), function (json) {
                $('#Street_ID').select2({ data: json }).append(newOption);
            });
            $('#Ward_ID').empty();
            $.getJSON('/Admin/GetWard?did=' + $('#District_ID').val(), function (json) {
                $('#Ward_ID').select2({ data: json }).append(newOption1);
            });
        });

    </script>
}