@model Website_BĐS.Models.PROPERTY

@{
    ViewBag.Title = "DetailsAgency";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<div style="background-color:#f3f1f1">
    <h2 style="color: #797777; text-align: center">@Html.DisplayFor(model => model.PropertyName)</h2>
    <h4 style="color: #b9b4b4; text-align: center"><img src="~/Images/location-icon.png" style="width:20px; height:20px" /> @Html.DisplayFor(model => model.STREET.StreetName),@Html.DisplayFor(model => model.WARD.WardName),@Html.DisplayFor(model => model.DISTRICT.DistrictName)</h4>
    <hr />
</div>
<div class="row" style="margin-left:10%; margin-right:8%">
    <div class="col-md-8">
        @* --Images*@
        <div id="carousel-example" class="carousel slide" data-ride="carousel" style="height:400px;width:700px; margin-left:12%">

            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style="height: 95%; width: 100%">
                <div class="item active">
                    <img src="/Images/@Model.Avatar" />
                </div>
            </div>

        </div>
        @*<p style=" margin-left:65px; margin-top: 5px">
            @{
                foreach (var image in (IEnumerable<string>)ViewBag.Images)
                {

                    if (image.Contains(Model.ID.ToString()))
                    {

                        <img src="@Url.Content(image)" width="100px" />
                    }

                }
            }
        </p>*@
        <div style="margin-left:20%">
            @{
                if (Model.Images != null)
                {
                    string[] arr = Model.Images.Split(',');
                    foreach (var item in arr)
                    {
                        <img src="~/MultiImages/@item" width="100px" />
                    }
                }
                else
                {
                    <img src="~MultiImages/NullImages.jpg" alt=" " width="100px" />
                }
            }
        </div>

 
    

        @*Details*@
        <div class="col-xs-6" style="margin-left: 20%; background-color: #f3f1f1; width:110%; margin-top:5%; padding-top:10px">
            <div class="col-xs-6">
                <strong>@Html.DisplayNameFor(model => model.PROPERTY_TYPE.CodeType):</strong>
                <span>@Html.DisplayFor(model => model.PROPERTY_TYPE.CodeType)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.Area):</strong>
                <span>@Html.DisplayFor(model => model.Area)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.BedRoom):</strong>
                <span>@Html.DisplayFor(model => model.BedRoom)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.BathRoom):</strong>
                <span>@Html.DisplayFor(model => model.BathRoom)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.PackingPlace):</strong>
                <span>@Html.DisplayFor(model => model.PackingPlace)</span>

            </div>

            <div class="col-xs-6" style="padding-bottom:20px">
                <strong>@Html.DisplayNameFor(model => model.STREET.StreetName):</strong>
                <span>@Html.DisplayFor(model => model.STREET.StreetName)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.WARD.WardName):</strong>
                <span>@Html.DisplayFor(model => model.WARD.WardName)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.DISTRICT.DistrictName):</strong>
                <span>@Html.DisplayFor(model => model.DISTRICT.DistrictName)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.Created_at):</strong>
                <span>@Html.DisplayFor(model => model.Created_at)</span>
                <br />
                <strong>@Html.DisplayNameFor(model => model.Price):</strong>
                <span>@Html.DisplayFor(model => model.Price) @Html.DisplayFor(model => model.UnitPrice)</span>

            </div>
        </div>
        @*Tiện ích*@
        <div class="col-md-8" style="margin-left: 20%; background-color: #f3f1f1; width:110%; margin-top:5%">
            <h3 style="text-align: center; padding-top:-15px">TIỆN ÍCH</h3>
            <hr style="color:#797777; border:1px solid" />
            @{
                foreach (var feature in ViewBag.features)
                {
                    foreach (var fes in ViewBag.fea)
                    {
                        if (feature.Feature_ID == fes.ID)
                        {
                            <div class="col-md-6" style="text-align:left">
                                <span>@fes.FeatureName</span>
                            </div>
                        }
                    }
                }
            }
        </div>
        @*Mổ tả*@
        <div class="col-md-8" style="margin-left: 20%; background-color: #f3f1f1; width:110%; margin-top:5%">
            <h3 style="text-align: center; padding-top:-15px">MÔ TẢ</h3>
            <hr style="color:#797777; border:1px solid" />
            <p style="padding-bottom:10px">@Html.DisplayFor(model => model.Content)</p>
        </div>


    </div>
</div>


